body {
    font-family: "Open Sans";
}

header {
    color: white;
    background-color: #004175;
    padding: 2px;
    border-bottom: 4px solid #89DEEF;
}

h1 {
    padding-left: 30px;
}

h3 {
    font-family: "Oswald";
}