body {
    font-family: "Open Sans";
}

h1 {
    color: white;
    background-color: #004175;
    padding: 20px;
    border-bottom: 3px solid #89DEEF;
    padding-left: 40px;
}

.foot,
h3 {
    font-family: "Oswald";
}