body {
    font-family: "Open Sans";
}

h1 {
    color: white;
    background-color: #004175;
    padding: 20px;
    border-bottom: 3px solid #89DEEF;
    padding-left: 40px;
}

h3 {
    margin-bottom: -15px;
}

.foot,
h3 {
    font-family: "Oswald";
}

li {
    background-color: #89DEEF;
    list-style: none;
    border-radius: 30%;
    padding: 5px;
    margin: 3px;
    position: relative;
    right: 45px;
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
}

/* CANNOT FIND THE CORRECT COMBO OF FLEX */

img {
    max-width: 40%;
    margin-bottom: -20px;
}